body {
    background-image: url('image.jpg');
    background-size: 200px;
    background-repeat: repeat repeat;
    cursor: url(cursor2.png), auto;
    animation: 3s linear scroll infinite;
}

div.outer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    font-size: 3em;
    font-variant: small-caps;
    color: white;
}

@keyframes scroll {
    0% { background-position: 200px 267px; }
    100% { background-position: 0px 0px; }
}
